body {
    background-image: linear-gradient(90deg, #700b70 0%, #700b97 100%);
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #700b70;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 900px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.container h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.container p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    margin: 0;
}

.cont {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background-image: linear-gradient(90deg, #700b70 0%, #700b97 100%); */
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
}

.tipts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 50px;
    padding: 50px;
    background-color: #700b70;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.tipt {
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: #700b70;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.tipt:hover {
    background-color: #700b70;
    cursor: pointer;
}